.navbar{
    background-color: #608BC1;
}

.logo img {
    height: 40px;
  }

.jumbotron{
    background-image: url(gambar/4.png);
    background-size: cover;
    padding: 250px;
}

.jurusan h1{
  background-color: #608BC1;
}

